### dataclass

In [3]:
#自定義class
from dataclasses import dataclass

@dataclass 
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [6]:
#透過class 建立實體
students:list[Student] = [Student(name="Simon" ,chinese = 95 ,english = 98 ,math = 100 ),
Student(name="Amber" ,chinese = 95 ,english = 98 ,math = 100 ),
Student(name="Jonas" ,chinese = 95 ,english = 98 ,math = 100 )
]

type(students)

list

In [9]:
for student in students:
    print(student.name)
    print(student.english)
    print(student.math)

Simon
98
100
Amber
98
100
Jonas
98
100