### tuple
- immutable(不可變的變數)
- Sequence(串列資料)
- iterable(可重複讀取)
- 拆解法
- 用括號符號建立
- typeint(tuple)

In [ ]:
#拆解法
name , age = "Simon" , 30
print(name)
print(age)

Simon
30

### list
- mutable(可變的變數)
- Sequence(串列資料)
- iterable(可重複讀取)
- 用中括號[]符號建立
- typeint(list)

In [ ]:
#建立list
weeks = ["星期一","星期二","星期三","星期四","星期五","星期六","星期日"]
type(weeks)

list

In [ ]:
#取出元素和修改元素
#使用subscript[index]
weeks[0]
weeks[1]
weeks[-1]
#weeks[-2]

'星期日'

In [ ]:
#使用subscript[slice]
#[起始(包含):結束(不包含)]

weeks[0:3]
weeks[-3:-1]
weeks[-3:] #取最後3個
weeks[:3] #取前3個

['星期一', '星期二', '星期三']

In [11]:
for day in weeks:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

### dictionary
- mutable(可變的變數)
- Mapping(mapping資料)
- iterable(可重複讀取)
- 用大括號{key:value}符號建立
- typeint(dict)

In [12]:
code = {"tw":"Taiwan" , "JP":"Japan" , "HK":"Hong Kong"}
code

{'tw': 'Taiwan', 'JP': 'Japan', 'HK': 'Hong Kong'}

In [13]:
code["tw"]

'Taiwan'

In [17]:
for key in code:
    print(key)
    print(code[key])
    print("=====")

tw
Taiwan
=====
JP
Japan
=====
HK
Hong Kong
=====

### set
- 元素不可以重複
- 符號建立方式用大括號{}

In [ ]:
#set
cities = {"台北","台中","台南","高雄","台北","台中","台南","高雄"}
cities

{'台中', '台北', '台南', '高雄'}