### tuple
- 不可變變數
- 串列資料(Sequence) =>有順序的資料
- 由符號建立(xxx, xxx ,xxx )

In [6]:
week:tuple[str] = ("星期一","星期二","星期三","星期四","星期五","星期六","星期日")
week

('星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日')

In [7]:
#透過索引編號取得元素
week[0]
week[1]
week[2]
week[6]

'星期日'

### tuple是串列資料(Sequence)

In [8]:
for day in week:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

### tuple最常用的操作方法 =>拆解法

In [2]:
#將tuple拆解給變數
(name , age, scores) = ("Simon" , 30, 500)
name
age
scores

500

In [3]:
#小括號可以省略
name , age, scores = "Simon" , 30, 500

In [ ]:
#快速顯示多個變數
name , age , scores

('Simon', 30, 500)