In [2]:
from dataclasses import dataclass

@dataclass
class Student:
    name : str
    chinese:int
    english:int
    math:int

In [9]:
stu1 = Student(name="Simon" ,chinese=88 , english= 90, math=96)
print(type(stu1))
stu1.name ,stu1.chinese ,stu1.english,stu1.math

<class '__main__.Student'>

('Simon', 88, 90, 96)

In [10]:
stu2 = Student(name="Amber" ,chinese=69 , english= 68, math=66)
print(type(stu2))
stu2.name ,stu2.chinese ,stu2.english,stu2.math

<class '__main__.Student'>

('Amber', 69, 68, 66)